body{
    background-image: url("download (1).jpg");
    background-size: cover;
    text-align: center;
}

.login_div1, .login_div2{
    margin-top: 15px;
    background-color: greenyellow;
    float: none;
    border-radius: 15px;
    padding: 10px;
 }

 h1{
     color: lightsalmon;
     font-family: 'Righteous', cursive
 }

 #output{
     background-color: white;
     border-radius: 10px;
     border-top: 10px solid palevioletred;
     padding: 7px;
     float: none;
     text-align: left;
     margin-top: 30px;
 }

 span{
     margin-top: 12px;
 }